body{
margin:0;
font-family:Arial;
background:#0f1116;
color:white;
}

.app{
display:flex;
height:100vh;
}

/* SIDEBAR */
.sidebar{
width:220px;
background:#151923;
padding:20px;
}

.sidebar h2{
font-size:16px;
margin-bottom:20px;
color:#00d4ff;
}

.tab{
display:block;
width:100%;
margin-bottom:10px;
padding:12px;
border:none;
background:#1f2430;
color:white;
border-radius:10px;
cursor:pointer;
}

.tab.active{
background:#00aaff;
}

/* PANEL */
.panel{
width:350px;
padding:20px;
background:#10131a;
overflow:auto;
}

.section{
display:none;
}

.section.active{
display:block;
}

input, textarea, select{
width:100%;
margin:8px 0;
padding:10px;
border:none;
border-radius:8px;
background:#1d2230;
color:white;
}

/* PREVIEW */
.preview{
flex:1;
background:#000;
}

iframe{
width:100%;
height:100%;
border:none;
}
