body{
background:#111;
font-family:tahoma;
padding:40px;
}

.panel{
display:flex;
flex-direction:column;
gap:12px;
max-width:500px;
}

input,select,button{
padding:14px;
font-size:18px;
border-radius:10px;
border:none;
}

button{
cursor:pointer;
}
