*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:transparent;
overflow:hidden;
font-family:tahoma;
}

/* MAIN */
.ticker-container{
position:absolute;
bottom:40px;
left:50%;
transform:translateX(-50%);

width:90%;
height:70px;

display:flex;
align-items:center;

background:#1b1b1b;
border-radius:18px;
overflow:hidden;

box-shadow:0 0 20px rgba(0,0,0,.5);
}

/* BREAKING */
.breaking-box{
min-width:220px;
height:100%;

background:var(--breaking-color, #d60000);

color:white;

display:flex;
align-items:center;
justify-content:center;

font-size:28px;
font-weight:bold;
letter-spacing:2px;
}

/* TEXT AREA */
.ticker-wrapper{
flex:1;
overflow:hidden;
position:relative;
}

/* TEXT */
.ticker-text{
position:absolute;
white-space:nowrap;

color:var(--ticker-color, #fff);
font-size:30px;
line-height:70px;

animation: tickerMove var(--speed, 18s) linear infinite;
}

/* ANIMATION */
@keyframes tickerMove{
from{
transform:translateX(100%);
}

to{
transform:translateX(-100%);
}
}
