body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

/* CG BOX */
.cg-box {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg,#000,#111,#000);
  display: flex;
  align-items: center;
  padding: 10px;
  border-left: 6px solid red;
}

/* sections */
.left img, .right img {
  width: 60px;
  height: 60px;
}

.center {
  flex: 1;
  padding: 0 20px;
}

.t1 {
  font-size: 26px;
  font-weight: bold;
  color: red;
}

.t2 {
  font-size: 14px;
  opacity: 0.9;
}

/* admin */
.panel {
  padding: 20px;
}
input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
